name: Verify
on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    if: "!contains(toJson(github.event.commits), '[ci skip]')"
    runs-on: ubuntu-latest
    environment: Build

    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Cache Gradle
        uses: actions/cache@v4.2.0
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        env:
          USERNAME: ${{ secrets.USERNAME }}
          PASSWORD: ${{ secrets.PASSWORD }}
        run: ./gradlew --build-cache build
      - name: Test with Gradle
        run: ./gradlew test
